.md-footer-meta__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}

.md-footer-copyright,
.md-footer-social {
  flex: 0 0 auto;
}

.md-footer-disclaimer {
  flex: 1 1 auto;
  text-align: center;
  margin: 0 1rem;
  font-size: 0.4rem;
  max-width: 75%;
}

.md-footer-copyright {
  font-size: 0.6rem;
}

.md-footer-social {
  margin: 0;
}
